$color-dark: #1e2436;
$color-lime: #e3f04e;

$main-color: #2d354b;
$white-color: #ffffff;
$light-blue: #3f455e;
$gray: #bbbbbb;
$dark-color: #272727;
$lily-color: #4d5b96;

$light-gray: #efefef;
$dark-gray: #dfdfdf;
$very-light-gray: #f9f9f9;
$very-dark-gray: #c3c3c3;
$footer-light: #f5f5f5;
